* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
h1 {
  margin-bottom: 20px;
}
body {
  margin-left: 200px;
}
nav {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.btn {
  background-color: #efefef;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
}
.btn:hover {
  background-color: #dddddd;
}
/* protudos */

.produtos-content {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateX(-20px);
  animation: animaleft 0.3s forwards;
}
@keyframes animaleft {
  to {
    opacity: initial;
    transform: initial;
  }
}
.imgs-produtos {
  width: 200px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 10px;
}

/* cada protudo */
.div-content {
  display: flex;
}
.div-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* contato */
.div-contact {
  display: flex;
  gap: 20px;
  opacity: 0;
  transform: translateX(-20px);
  animation: animaleft 0.3s forwards;
}

@keyframes animaleft {
  to {
    opacity: initial;
    transform: initial;
  }
}
.div-infos-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
li::marker {
  content: "- ";
  color: #dddddd;
}
.img-contato {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* loading */
.loading-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.loading {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(to right, #dddddd 60%, white 40%);
  margin: auto;
  display: flex;
  align-items: center;
  animation: animagiro 1s infinite ease-in-out;
}
@keyframes animagiro {
  to {
    opacity: initial;
    transform: rotate(360deg);
  }
}
.inside-loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
}
